h1 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

input {
    font-family: 'Work Sans', sans-serif;
}

button {
    font-family: 'Work Sans', sans-serif;
}

.post {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}